<meta charset="utf-8" />
<meta
    name="viewport"
    content="width=device-width, initial-scale=1, shrink-to-fit=no"
/>

<title>Shopping List</title>
<link
    rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
/>

<link
    href="https://fonts.googleapis.com/css?family=Fredericka+the+Great|Patrick+Hand|Roboto&display=swap"
    rel="stylesheet"
/>

<link rel="stylesheet" href="/css/application.css" />

<script src="/socket.io/socket.io.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
