<!DOCTYPE html>
<html>
    <head>
        <% include ../static/partials/head.ejs %>
    </head>
    <body>
        <% include ../static/partials/navbar.ejs %>

        <main class="container">
            <h1>New Item</h1>
            <form action="/lists/<%= listId %>/items/create" method="post">
                <div class="form-group">
                    <label for="description">Item Description</label>
                    <input
                        type="text"
                        class="form-control"
                        name="description"
                        aria-describedby="descriptionHelp"
                        placeholder="Enter Item Description"
                    />
                </div>
                <div class="form-group">
                    <label for="quantity">Quantity</label>
                    <input
                        type="text"
                        class="form-control"
                        name="quantity"
                        aria-describedby="quantityHelp"
                        placeholder="Enter Quantity"
                    />
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </main>

        <% include ../static/partials/baseScripts.ejs %>
    </body>
</html>
