<!DOCTYPE html>
<html>
    <head>
        <% include ../static/partials/head.ejs %>
    </head>
    <body>
        <main class="container">
            <% include ../static/partials/navbar.ejs %>

            <h1>Lists</h1>

            <ul class="list-group">
                <% lists.forEach((list) => { %>
                <li class="list-group-item">
                    <a href="/lists/<%= list.id %>"> <%= list.name %> </a>
                </li>
                <% }) %>
            </ul>
            <br />
            <a href="/lists/new" class="btn btn-success">Create New List</a>
        </main>
    </body>
</html>
